#contenedor {
    display: flex;
}

header {
    background-color: cadetblue;
    display: flex;
    height: 40px;
}

footer {
    text-align: center;
    height: 25px;
    background-color: cadetblue;
    color: beige;
}

.imagen{
    width: 180px;
    height: 180px;
}

.champ{
    color:white;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.oro{
    color: gold;
    top: 0px;
    left: 0px;
    position: absolute;
}



