/* #contenedor {
    display: flex;
} */

body {
    margin: 0px;
}

/* ESTILOS DEL HEADER */

#menuarriba {
    background-color: cadetblue;
    display: flex;
    padding: 10px;
}

#login {
    width: 50px;
    height: 50px;
    margin-right: 70px;
}

#Fishron {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 5px;
    margin-left: 50px;
    margin-right: auto;
}

#boton {
    border-color: black;
    text-align: center;
    background-color: gray;
    color: white;
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
    height: 40px;
    margin: auto 50px;
}

#aux {
    display: flex;
    align-items: center;
}

/* ESTILOS DEL NAVEGADOR */

#navigator {
    display: flex;
    flex-flow: column wrap;
    background-color: red;
    width: 250px;
    align-content: space-around;
    padding: 20px;
}

.barranavegador {
    margin: 50px 30px 50px 30px;
    text-align: center;
    width: 200px;
    height: 80px;
    background-color: greenyellow;
    border-radius: 10px;
}

/* ESTILOS DEL DASHBOARD */

#contenidoPrincipal {
    display: flex;
}

#contenedorCajas {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.box {
    background-color: #ddd9d9;
    min-width: 580px;
    max-width: 500px;
    height: 300px;
    margin: 40px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 5%;
}

.barras {
    width: 500px!important;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-end;
    margin: 5px;
}

.titulo {
    border: solid;
    text-align: center;
}

.contenido {
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    justify-content: center;
}

.winratebarra{
    background-color: red;
    width: 19px;
    margin: 13px;
}

.champion{
    font-weight: bold;
    height: 30px;
    margin: 0px;
}

.loseratebarra{
    background-color: red;
    width: 19px;
    margin: 13px;
}

.contenido {
    display: flex;
}

.contenedorimagenes {
    display: flex;
}

.boximages {
    margin: 5px;
}

.parrafo {
    text-align: center;
}

.graficazo {
    width: 55%;
}

.parrafotiempo {
    border: solid;
    text-align: center;
    justify-content: center;
}

.contenedortiempo {
    display: flex;
    align-items: center;
}

.time {
    border: solid;
}

footer {
    text-align: center;
    height: 47px;
    background-color: cadetblue;
    color: beige;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
}

.imagen{
    width: 180px;
    height: 180px;
}

.champ{
    color:white;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.oro{
    color: gold;
    top: 0px;
    left: 0px;
    position: absolute;
}