.grafico{
    position: relative;
    margin-right: auto;
}

#Fishron {
    margin-right: 500px;
}

.winrate{
    color: white;
    position: absolute;
    left: 20px;
    top: 75px;
    font-size: 20px;
}

.champname{
    color: red;
    position: absolute;
    left: 20px;
    top: 160px; 
}

.sona{
    height: 150px;
}



