
.champscirculo{
    background-color: black;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    position: relative;
    padding: 0px;
}

.champ1circulo{
    background-color: red;
    width: 80px;
    height: 80px;
    border-top-right-radius: 100%;
    position: absolute;
    left: 80px;
}

.champ2circulo{
    background-color: blue;
    width: 80px;
    height: 80px;
    border-top-right-radius: 100%;
    position: absolute;
    left: 80px;
    transform: rotate(90deg);
    transform-origin: bottom left;
}

.champ3circulo{
    background-color: green;
    width: 80px;
    height: 80px;
    border-top-right-radius: 100%;
    position: absolute;
    left: 80px;
    transform: rotate(180deg);
    transform-origin: bottom left;
}

.grafico{
    position: relative;
}

.fondocirculo{
    position: absolute;
    top: 10px;
    left: 10px;
}